/* Fondo oscuro */
body {
    background-color: #e283ca;  /* Color oscuro */
    color: #c0e4ec;  /* Texto en color claro */
    font-family: Arial, sans-serif;  /* Establecer una fuente legible */
    margin: 0;
    padding: 0;
}

/* Estilo para los encabezados */
h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    color: #ecf0f1;  /* Título en blanco */
}

/* Estilo para la imagen */
img {
    display: block;
    margin: 20px auto;
    max-width: 90%;  /* Limitar el tamaño de la imagen */
    height: auto;
}

/* Estilo para el enlace */
a {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 1.2em;
    text-decoration: none;
    color: #b7f0b5;  /* Enlace de color azul */
}

a:hover {
    color: #1abc9c;  /* Color del enlace cuando se pasa el mouse */
}
